asgiref @ file:///croot/asgiref_1724072470684/work
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1725551672989/work/certifi
cffi==1.17.1
charset-normalizer @ file:///croot/charset-normalizer_1721748349566/work
cryptography==43.0.1
Django @ file:///croot/django_1724964382619/work
django-allauth==65.0.2
idna @ file:///croot/idna_1714398848350/work
jwt==1.3.1
pycparser==2.22
PySocks @ file:///work/ci_py311/pysocks_1676822712504/work
requests @ file:///croot/requests_1721410876868/work
sqlparse @ file:///croot/sqlparse_1690901927333/work
urllib3 @ file:///croot/urllib3_1727769808118/work
