{% load static %}
{% block footer %}
    <footer class="footer">
        <div class="container-fluid">
            <div class="row">
                <div class="col-sm-6">
                	시스템문의 : 인사/총무/보안팀 010-9915-6572
                </div>
	            <div class="col-sm-6">
                    <div class="text-sm-end d-none d-sm-block" style="text-align: right;">© 2024 TRENDMECCA Co., Ltd. All rights reserved.</div>
                </div>
            </div>
        </div>
    </footer>
{% endblock footer %}