{% load static %}
{% block header %}
    <header id="page-topbar">
        <div class="navbar-header">
            <div class="d-flex">
                <!-- LOGO -->
                <div class="navbar-brand-box">
                    <a href="{% url 'attendance_caps' %}" class="logo logo-light">
                        <span class="logo-sm">
                            <img
                                class="logo-size"
                                src="{% static 'images/trendmecca_logo_main.png' %}"
                                alt=""
                                height="35">
                        </span>
                        <span class="logo-lg">
                            <img
                                class="logo-size"
                                src="{% static 'images/trendmecca_logo_main.png' %}"
                                alt=""
                                height="35">
                        </span>
                    </a>
                </div>
                <button
                    type="button"
                    class="btn btn-sm px-3 font-size-24 header-item waves-effect"
                    id="vertical-menu-btn">
                    <i class="ri-menu-2-line align-middle"></i>
                </button>
            </div>
            <div class="dropdown d-inline-block"></div>
                {% load socialaccount %}
                <div class="dropdown d-inline-block user-dropdown">
                        {% if user.is_authenticated %}
                            {% if user.socialaccount_set.all %}
                                {% for account in user.socialaccount_set.all %}
                                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" 
                                    src="{{ account.get_avatar_url }}"
                                    alt="Header Avatar">
                                {% endfor %}
                            {% else %}
                                <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <img class="rounded-circle header-profile-user" 
                                    src="{% static 'images/trendmecca-favicon-32x32.png' %}"
                                    alt="Header Avatar">
                            {% endif %}
                        {% else %}
                            <button type="button" class="btn header-item waves-effect" id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <img class="rounded-circle header-profile-user" 
                                src="{% static 'img/undraw_profile.svg' %}"
                                alt="Header Avatar">
                        {% endif %}

                        {% if user.is_authenticated %}
                            {% if user.socialaccount_set.all %}
                                {% for account in user.socialaccount_set.all %}
                                <span class="d-none d-xl-inline-block ms-1">{{account.extra_data.email}}</span>
                                {% endfor %}
                            {% else %}
                            <span class="d-none d-xl-inline-block ms-1">{{user.email}}</span>
                            {% endif %}
                        {% else %}
                            <span class="d-none d-xl-inline-block ms-1">로그인을 해주세요</span>
                        {% endif %}
                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block"></i>
                    </button>
                    <div class="dropdown-menu dropdown-menu-end">

                        {% if user.is_authenticated %}
                        {% if user.socialaccount_set.all %}

                        <div class="dropdown-divider"></div>

                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="ri-wallet-2-line align-middle me-1"></i>인사기록카드</a>
                                <!--<a class="dropdown-item d-block" href="#" key="t-t-settings"><i class="ri-settings-2-line align-middle me-1"></i>설정</a>-->

                                <a class="dropdown-item text-danger" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                                <i class="ri-shut-down-line align-middle me-1 text-danger"></i>
                                <span class="align-middle" key="t-logout">로그아웃</span></a>

                            {% else %}

                                <!-- item-->
                                <a class="dropdown-item" href="#"><i class="ri-wallet-2-line align-middle me-1"></i>인사기록카드</a>
                                <!--<a class="dropdown-item d-block" href="#" key="t-t-settings"><i class="ri-settings-2-line align-middle me-1"></i>설정</a>-->

                                <a class="dropdown-item" href="{% url 'reset_password' %}">
                                    <i class="mdi mdi-lock text-muted font-size-16 align-middle me-1"></i>
                                    <span class="align-middle" key="t-lock-screen">비밀번호변경</span></a>
                                <a class="dropdown-item text-danger" href="{% url 'logout' %}" data-toggle="modal" data-target="#logoutModal">
                                    <i class="ri-shut-down-line align-middle me-1 text-danger"></i>
                                    <span class="align-middle" key="t-logout">로그아웃</span></a>
                            {% endif %}

                        {% else %}

                            <a class="dropdown-item" href="{% url 'login' %}">
                                <i class="mdi mdi-login-variant text-muted font-size-16 align-middle me-1"></i>
                                <span class="align-middle" key="t-login">로그인</span></a>

                        {% endif %}

                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock header %}