{% load static %}
{% block sidebar %}
		<!-- ========== Left Sidebar Start ========== -->
		<div class="vertical-menu">
			<div data-simplebar class="h-100">
				<!--- Sidemenu -->
				<div id="sidebar-menu">
					<!-- Left Menu Start -->
					<ul class="metismenu list-unstyled" id="side-menu">
						<li class="menu-title" key="t-menu">Menu</li>
						<!--<li>
							<a href="{% url 'home' %}" class="waves-effect"> <i class="ri-dashboard-line"></i>
								<!-- <span class="badge rounded-pill bg-success float-end">3</span> -->
								<!--<span key="hr-dashboards">대시보드</span>
							</a>
						</li>-->

						<li>
							<a href="{% url 'attendance' %}" class="waves-effect"> <i class="ri-calendar-check-line"></i>
								<span key="attendance">근태관리 확인용(TEST)</span>
							</a>
						</li>

						<!--<li>
							<a href="{% url 'self_home' %}" class="waves-effect"> <i class="ri-user-line"></i>
								<span key="self-evaluation">인사평가</span>
							</a>
						</li>-->
						<!--<li>
							<a href="#" class="has-arrow waves-effect"> <i class="ri-team-line"></i>
								<span key="performance-evaluation">2022년 MBO평가</span>
							</a>
							<ul class="sub-menu" aria-expanded="false">
								<li><a href="#"key="march">1월 인사평가</a>
								</li>
								<li><a href="#"key=" april">2월 인사평가</a>
								</li>
								<li><a href="#"key="may">3월 인사평가</a>
								</li>
								<li><a href="#"key="june">4월 인사평가</a>
								</li>
								<li><a href="#"key="august">5월 인사평가</a>
								</li>
								<li><a href="#"key="october">7월 인사평가</a>
								</li>
								<li><a href="#"key="november">10월 인사평가</a>
								</li>
								<li><a href="#"key="final">12월 인사평가</a>
								</li>
							</ul>
						</li>-->
						<li>
							<a href="{% url 'freehome' %}" class="waves-effect"> <i class="ri-wechat-2-line"></i>
								<span key="no-comment">문의게시판</span>
							</a>
						</li>

					</ul>
				</div>
				<!-- Sidebar -->
			</div>
		</div>
		<!-- Left Sidebar End -->
{% endblock sidebar %}